body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-size: 110%; 
}

#move1{
    background-image: url('img/snigel.png');
    background-size: cover;
    height: 50px;
    aspect-ratio: 1;
    z-index: 3;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    pointer-events: none;
}           
#pacman {
    width: 100px;
    height: auto;
    position: absolute;
    top: 40%;
    left: 40%;
    z-index: 2;
}

.banner {
    background-color: rgba(0, 90, 138, 0.537);
    height: 130px;
    z-index: 1000;
    color: rgb(244, 228, 180);
    border-bottom: #242424 3px solid;
    margin: 0px;
    padding: 0px;
    text-align: center;
    position: relative;
}
.logga {
    position: absolute;
    top: 15px;
    right: 5px;
    width: 100px;
    height: auto;
}
.banner h1 {
    font-family: 'Archivo', sans-serif;
    font-size: 2.5em;
    padding: 1px 100px;
    -webkit-text-stroke: 2px #242424;
}
.banner p {
    font-family: 'Archivo', sans-serif;
    font-size: 1.2em;
}

.newButton {
    background-color: #2f4bff;
}

button {
    background-color: #3863ff;
}

.custom-button {
    background-image: url('img/knapp1.png');
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 40%;
    z-index: 2;
    border: 10px ;
    width: 80px;
    height: 50px;
    cursor: pointer;
}

.choice-button {
    background-color: #2067ff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: 3px solid #071ba0;
    font-family: 'Archivo', sans-serif;
    font-size: 18px;
    margin: 10px;
    transition: background-color 0.3s ease;
    z-index: 2001; /* Se till att knapparna alltid syns överst */
    position: absolute; /* Säkerställ att de placeras överst */
    box-shadow: 0 4px 16px rgba(0,0,0,0.3); /* Gör knappen tydligare */
}

.choice-button:hover {
    background-color: #1d4db5;
}

.grotta-img {
    position: absolute;
    top: 57%;
    left: calc(75% + 60px);
    width: 180px;
    z-index: 2;
}
.vattentorn {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 150px;
    z-index: 2;
}
.kyrkaImage {
    position: absolute;
    top: 59%;
    left: 38%; 
    width: 120px;
    z-Index: 2;
}

.choice-button.play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
}

.choice-button.back {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 1;
    background: linear-gradient(0deg, #0a1844, #ff8c00,#81abff,#b5ceff, #0a1844,#dee9ff, #ff8c00);
    background-size: 1200% 1200%;
    animation: gradientLoop 120s ease-in-out infinite;
}

@keyframes gradientLoop {
    0% {background-position: 0% 50%;}
    25% {background-position: 50% 100%;}
    50% {background-position: 100% 50%;}
    75% {background-position: 50% 0%;}
    100% {background-position: 0% 50%;}
}
#vbgÖ {
    position:fixed; 
    left: -35px;
    width:105vw; 
    height:105vh; 
    object-fit:cover; 
    z-index:1; 
    pointer-events:none;
}
